/awesome-tab/
/elpa/
/quelpa/
/recentf
/server/
/eshell/
/auto-save-list/
/transient/
/projects
/places
*~
/history
.cache/
cnfonts/
chatgpt/
.org-id-locations
tabsession.el
.#*
bookmarks/
main
tree-sitter/